In [11]:
import pandas as pd

data = pd.read_csv('Berkeley_Database.csv')

data.loc[data['Dept'] == 'E']

       Admit  Gender Dept  Freq
16  Admitted    Male    E    53
17  Rejected    Male    E   138
18  Admitted  Female    E    94
19  Rejected  Female    E   299